@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.tag-list {
  width: 30rem;
  max-width: 90vw;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
  width: 100%;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  background-color: #f7f7f73f;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem; 
  box-shadow: 
    0 0.1rem 0.2rem rgb(0 0 0 / 20%),
    0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);
  
  span {
    font-size: 1.2rem;
    color: #ffffff6c;
  }
}



@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.loop-slider {
  .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, #32204bfb, transparent 30%, transparent 70%, #32204bfb);
  position: absolute;
  border-radius: 20px;
  inset: 0;
}

.wave path {
  animation: waveAnimation .5s infinite linear alternate;
}

@keyframes waveAnimation {
  0% {
    d: path("M0 50 Q 125 70 250 50 Q 375 30 500 50 Q 625 70 750 50 Q 875 30 1000 50");
  }
  100% {
    d: path("M0 50 Q 125 30 250 50 Q 375 70 500 50 Q 625 30 750 50 Q 875 70 1000 50");
  }
}
.wave {
  width: 90%;
}